* {
  font-family: 'Abraham Lincoln';
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 73.39px;
}

h2 {
  font-size: 100px;
  text-transform: capitalize;
}

h3 {
 font-size: 70px;
}


h4 {
  color: black;
  font-size: 30px;
}

h5 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 24pt;
}


h6{
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}


.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.black {
  color: Black;
}


.three-columns.poppins {
  position: absolute;
  padding: 10px;
  display: inline;
  width: 800px;
}


.columns {
  display: inline-block;
  width: 20%;
  margin: 50px;
}

.horizontal-block {
  position: relative;
  padding: 0px;
  display: inline;
  width: 800px;
  margin: 25px;
}

.horizontal-block.columns {
  display: inline-block;
  width: 20%;
  margin: 0 200px;
}




.hero {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}


.hero.section-1 {
  background-image: url("../../prototype/assets/background1.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 170vh;
}

.header {
  width: 600px;
  margin: 120px auto 0;
}

.header h1 {
  padding: 10px;
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  font-family: 'Gotham Black';
  font-weight: normal;
  font-style: normal;
}



.menu li {
  margin: 10px;
  display: inline;
  padding-top: 30px;
}


.menu li a {
  text-decoration: none;
  color: white;
}


.social-networking {
  position: relative;
  margin: 1000px 20%;
  transform: rotate(-90deg);
  float: right;
  text-transform: uppercase;
  margin: 0;
  display: inline;
  text-decoration: none;
  word-spacing: 15px;
}

.sidebar li {
  display: inline;
}

.sidebar li a {
  color: white;
  text-decoration: none;
}


.honor-block {

  color: black;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 10%;
}


.yellow {
  color: rgb(255, 168, 0);
  font-family: 'Abraham Lincoln';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.honor-block.yellow.medium {
  font-size: 73.39px;
  letter-spacing: -0.05em;
}

.hero.section-2 {
  background-image: url("../../prototype/assets/assets_0001s_0006_Rectangle-2.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: auto;
}

.hero.section-3 {
  background-image: url("../../prototype/assets/WeAreUnity.png");
  background-position: center;
  background-size: cover;
}

.hero.section-4 {
  background-image: url("../../prototype/assets/assets_0005s_0001s_0000s_0004_Rectangle-4-copy-6.png");
  background-position: center;
  background-size: cover;
}

.hero.section-5 {
  background-image: url("../../prototype/assets/assets_0005s_0002s_0000_Layer-18.png");
  background-position: center;
  background-size: cover;
}

.hero.section-6 {
  background-image: url("../../prototype/assets/assets_0008s_0008_Rectangle-41.png");
  background-position: center;
  background-size: cover;
}


.hero.footer {
  background-image: url("../../prototype/assets/assets_0006s_0001_Rectangle-14-copy.png");
  background-position: center;
  background-size: cover;
  height: auto;
}

.logo-container.roboto {
  display: inline;
}


.testimonial-container.columns {
  display: inline;
  margin: auto;
}

.columns.white {
  border: 1px solid white;
}
